div select {
    margin-left: 50px;
    border-radius: 4px;
    padding: 7px;
    margin-top: 10px;
    border: none !important;
    background-color: rgb(168, 6, 6);
    color: #31073d;
    outline: none;
}